:root {
  --accent-color: #5267DF;
  --red-color: #FA5959;
  --heading-color: #242A45;
  --text-color: #9194A2;
}

/* GLOBAL */

html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  font-family: "Rubik", "Arial", sans-serif;
  font-size: 18px;
  line-height: 28px;
  height: 100%;
  background-color: #fff;
  color: var(--text-color);
}

img {
  height: auto;
  max-width: 100%;
}

.container {
  width: 100%;
  max-width: 1150px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.main-content {
  flex-grow: 1;
}


.site-header {
  padding-top: 48px;
}
.site-header__container {
  display: flex;
  align-items: center;
}

.logo-link {
  margin-right: auto;
  display: inline-block;
  text-decoration: none;
}
.logo-img {
  width: 149px;
  height: 25px;
  object-fit: contain;
}
.logo-link:hover{
  opacity: 0.8;
}

.logo-link:active {
  opacity: 0.6;
}

.sitenav {
  font-size: 13px;
  line-height: 17px;
  color: var(--heading-color);
  letter-spacing: 1.5px;
}
.sitenav-list {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}
.sitenav-item:not(:last-child) {
  margin-right: 48px;
}

.sitenav-link {
  font-size: 13px;
  line-height: 17px;
  text-decoration: none;
  color: var(--heading-color);
  transition: color 0.3s ease;
}

.sitenav-link:active {
  opacity: 0.6;
}

.sitenav-link:hover {
  color: var(--red-color);
}

.button {
  padding: 8px 22px;
  border: 2px solid transparent;
  text-decoration: none;
  color: #fff;
  border-radius: 5px;
  transition: color 0.4s ease,
  background-color 0.4s ease;
}

.button:hover{
  background-color: transparent;
}
.button:active {
  opacity: 0.6;
}
.button-site-header {
  /* padding: 12px 32px; */
  margin-left: 48px;
}

.button-red{
  background-color: var(--red-color);
  border: 2px solid var(--red-color);
}

.button-red:hover {
  color: var(--red-color);
}
.button-blue {
  background-color: var(--accent-color);
  color: #fff;
}

.button-blue:hover {
  border-color: var(--accent-color);
  background-color: #fff;
  color: var(--accent-color);
}

.button-grey {
  background-color: #f7f7f7;
  color: var(--text-color);
}

.button-grey:hover {
  border-color: #5b6074;
  background-color: #fff;
  color: var(--text-color);
}


/* HERO */
.hero {
  padding-top: 66px;
  padding-bottom: 105px;
  background-image: url("../img/bg-img.jpg");
  background-repeat: no-repeat;
  background-position: calc(50% + 705px) 200px;
}

.hero__container {
  display: flex;
  align-items: flex-start;
}

.hero__content {
  flex-shrink: 0;
  width: 100%;
  max-width: 540px;
  padding-top: 66px;
  margin-right: 65px;
}

.hero__title {
  margin-top: 0;
  margin-bottom: 24px;
  font-size: 48px;
  line-height: 52px;
  font-weight: 500;
  color: var(--heading-color);
}

.hero__description {
  margin-top: 0;
  margin-bottom: 32px;
  font-size: 18px;
  line-height: 28px;
}

.hero__actions {
  display: flex;
}

.hero__actions-item:not(:last-child) {
  margin-right: 16px;
}

.hero__img {
  flex-shrink: 0;
  width: 578px;
  height: 385px;
  object-fit: contain;
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.5));
}