:root {
  --accent-color: #5267DF;
  --red-color: #FA5959;
  --heading-color: #242A45;
  --text-color: #9194A2;
}

/* GLOBAL */

html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  font-family: "Rubik", "Arial", sans-serif;
  font-size: 18px;
  line-height: 28px;
  height: 100%;
  background-color: #fff;
  color: var(--text-color);
}

img {
  height: auto;
  max-width: 100%;
}

.container {
  width: 100%;
  max-width: 1440px;
  padding-left: 165px;
  padding-right: 165px;
  margin-left: auto;
  margin-right: auto;
}

.main-content {
  flex-grow: 1;
}


.site-header {
  padding-top: 48px;
}
.site-header__container {
  display: flex;
  align-items: center;
}

.logo-link {
  margin-right: auto;
  display: inline-block;
  text-decoration: none;
}
.logo-img {
  width: 149px;
  height: 25px;
  object-fit: contain;
}
.logo-link:hover{
  opacity: 0.8;
}

.logo-link:active {
  opacity: 0.6;
}

.sitenav {
  font-size: 13px;
  line-height: 17px;
  color: var(--heading-color);
  letter-spacing: 1.5px;
}
.sitenav-list {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}
.sitenav-item:not(:last-child) {
  margin-right: 48px;
}

.sitenav-link {
  font-size: 13px;
  line-height: 17px;
  text-decoration: none;
  color: var(--heading-color);
  transition: color 0.3s ease;
}

.sitenav-link:active {
  opacity: 0.6;
}

.sitenav-link:hover {
  color: var(--red-color);
}

.button {
  text-decoration: none;
  color: #fff;
  border-radius: 5px;
  transition: color 0.4s ease,
  background-color 0.4s ease;
}

.button:hover{
  background-color: transparent;
}
.button:active {
  opacity: 0.6;
}
.button-site-header {
  padding: 12px 32px;
  margin-left: 48px;
}

.button-red{
  background-color: var(--red-color);
  border: 2px solid var(--red-color);
}

.button-red:hover {
  color: var(--red-color);
}
